[Unit]
Description=Stackable Agent
Before=
After=network.target

[Service]
User=root
ExecStart=/usr/lib/jvm/java-11-openjdk/bin/java -jar {{ agentbinarylocation}}  {{ agentconfiglocation }}
Restart=on-abort
StandardOutput=journal

[Install]
WantedBy=multi-user.target